@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* les polices */
@font-face {
    font-family: 'rajdhani';
    src: url(../fonts/rajdhani-medium.ttf);
}

/* les couleurs */
:root 
{
    --yellow-color: #FFFF00;
    --yellow-light:#F8F184;
    --blue-color: #19587D;
    --white-color: #FFFFFF;
    --gradiant-white: #eddebf67;
    --gradiant-red: #8900097e;
    --black-color:#000000;
    --gris-color:#C4C4C4;

}
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* les titres */
h1 
{
    font-family: "Rajdhani", sans-serif;
    font-size: 36px;
    font-weight: 400;
}
button
{
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
body
{
    background: var(--black-color);
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;

}
/* les scroll a gauche */
.scroll 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 230px;
}
.scroll .social
{
    margin-top: 20px;
}
/* Design de la navigation */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul
{
    list-style-type: none;
}
nav ul a
{
    color: var(--white-color);
    font-size: 30px;
    font-family: 'rajdhani';
    font-weight: 500;
}
/* les survoles */
nav ul a:hover 
{
    color: var(--yellow-color);
}
 .logo:hover,
 .icon:hover,
 .social:hover,
 .social-item:hover
 {
     filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg) brightness(109%) contrast(112%);
 }

/* Design partie en tete hero */
#hero
{
    background-image: url('../Illustrations/Bathome1.png');
    height: 900px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587D;
    background-size: cover;
}
.content
{
    display: flex;
    justify-content: center;
    flex-direction: column; /*direction du flex en colonne*/
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}
#hero .titre
{
    margin: 20px 0;
}
.btn
{
    text-decoration: none;
    color: var(--white-color);
    font-family: 'rajdhani';
    font-size: 20px;
    padding: 15px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg, var(--gradiant-white), var(--gradiant-red)
    );
    box-shadow: var(--black-color) 5px 5px 60px ;
}
.cta 
{
    margin-top: 50px;
}
.fleche
{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10px;
}
/* Design section batman */
#batman-cinema,
#Nemesis,
#Allies,
#justice-league,
#multimedia
{
    margin-top: 40px;
}
.batman-personnage
{
    display: flex;
    justify-content: space-between;
}
.titre
{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
.description
{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 18px;
        line-height: 28px;
}
.personnage-info 
{
    text-align: center;
    margin-top: 10px;
}
.batman-item:hover
{
    transform: scale(1.1);
}
.nemesis1
{
    display: flex;
    align-items: center;
}
.nemesis1 img 
{
    width: 18%;
}
/* Design multimedia */
#multimedia button
{
    position: relative;
    top: 160px;
    background: none;
    border:none;
} 
button.right
{
    right: -85%;
}
.yellow
{
    color: var(--yellow-color);
}

.slider-multimedia
{
    display: flex;
    width: 60%;
    margin: 40px auto;
}
.slider-image
{
    width: 100%;
    
}
.slider-content
{
    padding: 15px;
    background: linear-gradient(160deg, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4) 60%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
}
#multimedia p
{
    font-size: 12px;
}
/* Design de la partie formulaire */
#contact
{
    padding: 70px 0;
    background: linear-gradient(143deg, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4) 80%);
}
.form
{
    width: 50%;
    margin: 0 auto;
}
#contact h2
{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
.titre
{
    display: block;
    margin: 30px 0;
}
.form input[type="email"]
{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(120, 120, 120);
    background-color: transparent;
    padding: 3px 0;
    color: var(--white-color);
}
.icone img
{
    transform: rotate(-90deg);
    width: 15px;
}
.news
{
    margin-top: 15px;
    border-bottom: 2px solid rgb(120, 120, 120);
    width: 100%;
}
::placeholder
{
    font-size: 15px;
}
.btn-group
{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
form input[type="radio"]
{
    opacity: 0;
}
.btn-group label
{
     cursor: pointer;
     border: 2px solid;
     border-image: linear-gradient(69deg, 
     rgba(237, 222, 191, 0.4),
      rgba(25, 88, 125, 0.4))1;
    padding: 10px;
    font-size: 12px;
}
form input[type='submit'] 
{
  margin: 35px auto;
  display: block;
  width: 200px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}
.form textarea
{
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-top: 20px;
    outline: none;
}
/* Design de la partie citation */
#citation
{
    margin: 90px;
}
.citation-carte 
{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.citation-auteur
{
    font-size: 12px;
    margin-top: 30px;
}
.citation-carte
{
    padding: 40px;
     font-family: 'Space Grotesk';
    font-size: 18px;
}
.guillemet-close {
    float: right;
}

.clear {
    clear: both;
}
/* Design partie footer */
footer 
{
    margin-top: 102px;
}
.text-footer 
{
    text-align: center;
    font-size: 12px;
}
.social-footer 
{
    text-align: center;
    margin: 50px 0;
}
.social-item 
{
    padding: 20px;
}
/* Les barres dans le HTML */
.up-bar 
{
    border-top: 2px solid rgba(188, 188, 188, 0.5);
    position: absolute;
    width: 85%;
    top: 132px;
    left: 102px;
}

.left-bar 
{
    position: absolute;
    border-left: 2px solid rgba(188, 188, 188, 0.5);
    left: 102px;
    height: 1150%;
}

.right-bar 
{
    position: absolute;
    border-right: 2px solid rgba(188, 188, 188, 0.5);
    right: 102px;
    height: 1150%;
}